/* All common CSS files should start from here */
* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.mr {
    margin-right: 0 !important;
}

.mb {
    margin-bottom: 0 !important;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
/* All common CSS files should end from here */

/* Instagram part should be here  */

#instagram_part {
    padding: 50px 0;
    background: #2c2c2c;
}

.insta_title {
    text-align: center;
}

.insta_title h3 {
    color: #d5d5d5;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.insta_title h3:before {
    position: absolute;
    height: 1px;
    width: 100px;
    background: #535353;
    content: "";
    left: -110px;
    top: 50%;
    transform: translateY(-50%);
}

.insta_title h3:after {
    position: absolute;
    height: 1px;
    width: 100px;
    background: #535353;
    content: "";
    right: -110px;
    top: 50%;
    transform: translateY(-50%);
}

.insta_shots_part {
    display: flex;
    margin-top: 50px;
}

.insta_shota_item {
    width: 25%;
}

.insta_shota_item img {
    width: 100%;
}

.insta_btn {
    text-align: center;
    margin-top: 50px;
}

.insta_btn a {
    padding: 15px 20px;
    border: 1px solid #535353;
    color: #a6a6a6;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.insta_btn i {
    margin-right: 10px;
}

/* Blog part should be here  */

#blog_part {
    padding: 80px 0;
}

.blog_title {
    text-align: center;
}

.blog_title h3 {
    color: #2c2c2c;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.blog_title h3:before {
    position: absolute;
    height: 1px;
    width: 100px;
    background: #2c2c2c;
    content: "";
    left: -110px;
    top: 50%;
    transform: translateY(-50%);
}

.blog_title h3:after {
    position: absolute;
    height: 1px;
    width: 100px;
    background: #2c2c2c;
    content: "";
    right: -110px;
    top: 50%;
    transform: translateY(-50%);
}

.blog_item_part {
    display: flex;
    margin: 80px 0;
}

.blog_item {
    width: 368px;
    border: 1px solid #e3e3e3;
    padding: 25px 0;
    margin-right: 30px;
}

.blog_item_text {
    text-align: center;
}

.blog_item_text h3 {
    color: #444444;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 13px;
}

.blog_item_text p {
    color: #666666;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 24px;
}

.blog_item_img img {
    width: 100%;
}

.blog_item_bottom_text {
    padding: 25px;
}

.blog_item_bottom_text p {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
}

.blog_item_bottom_btn {
    display: flex;
    justify-content: space-between;
}

.left_btn {
    width: 104px;
    padding-left: 27px;
}

.left_btn a {
    color: #2c2c2c;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #28b8d8;
}

.right_btn {
    width: 30px;
    padding-right: 26px;
}

.right_btn a {
    color: #2c2c2c;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}